.modal {
    position: fixed;
    z-index: 9999;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.modal .modal-box {
    padding: 0.5%;
}
.modal .modal-box .modal-container {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 1px solid #969696;
    margin: auto;
}
.modal .modal-header,
.modal .modal-body {
    padding: 10px 15px;
}
.modal .modal-header h2 {
    margin-top: 1px;
    margin-bottom: 1px;
}
.modal .close:before {
    content: "\00D7";
}
.modal .close:hover {
    opacity: 1;
}
.modal .close {
    cursor: pointer;
    display: inline-block;
    float: right;
    color: #c3c3c3;
    opacity: 0.7;
}
.modal .modal-header{
    border-bottom: 1px solid #f5f5f5;
}
.modal .modal-body{

}