html {
    font-size: 1.2em;
    background: #fff;
    font-family: Arial sans-serif;
}
div.empty-preview {
    width: 100%;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    border: 6px dashed #fff;
    padding: 0 100px;
    border-radius: 5px;
    background: #e2e2e2;
    opacity: 0.6;
    color: #a0a0a0;
}
.list-tabs-container {
    height: 430px;
    overflow-y: auto;
}
.new-source-item {
    display: block;
    clear: both;
    border: 2px solid #658cdb;
    background-color: #d5e2fe;
    color: #1f4e9b;
    margin-right: 50%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
}
.new-source-item > span.new-source-item-number {
    content: "1";
    position: absolute;
    right: -42px;
    top: 0;
    color: #fff;
    background: #000;
    padding: 5px 12px;
    border-radius: 5px;
    font-family: Arial, Tahoma, Verdana, "Times New Roman", sans-serif;
}
.source-area {
    border: 1px solid #666666;
    display: block;
    position: relative;
    height: 432px;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 0 20px 5px #e6e6e6;
    background: #fff;
}
.modal {
    position: fixed;
    z-index: 9999;
    background: rgba(0,0,0,0.4);
    width: 100%;
    left: 0;
    top: 0;
}
.modal .modal-box {
    padding: 10px;
}
.modal .modal-body {
    position: relative;
    overflow: auto;
}
.modal .modal-box .modal-container {
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 1px solid #969696;
    margin: auto;
}
.modal .modal-header,
.modal .modal-body {
    padding: 10px 15px;
}
.modal .modal-header h2 {
    margin-top: 1px;
    margin-bottom: 1px;
}
.modal .close:before {
    content: "\00D7";
}
.modal .close:hover {
    opacity: 1;
}
.modal .close {
    cursor: pointer;
    display: inline-block;
    float: right;
    color: #c3c3c3;
    opacity: 0.7;
}
.modal .modal-header{
    border-bottom: 1px solid #f5f5f5;
}
ul.content-tabs {
    margin: 0;
    list-style: none;
    padding: 0;
}

ul.content-tabs li {
    border-top: 1px solid #4d4d4d;
    border-right: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 15px;
    margin-bottom: 3px;
    cursor: pointer;
    background: #effcff;
    font-size: 0.65em;
    box-sizing: content-box;
    box-shadow: 0 0 20px 5px #e6e6e6;
}
ul.content-tabs li:last-child {
    margin-bottom: 0;
}
ul.content-tabs li:hover {
    border-top: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    background: #f6f6f6;
}
ul.content-tabs li.active-li,
li.active-li:hover {
    cursor: default;
    background: #fff9c6;
    border-top: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
}
ul.content-tabs li:last-child {
    border-bottom: 1px solid #000000;
}

.row {
    position: relative;
    display: block;
    clear: both;
}
div[class^=col-] {
    display: inline-block;
    vertical-align: top;
}
div.col-12 {width: 100%}
div.col-11 {width: 91.6666667%}
div.col-10 {width: 83.3333333%}
div.col-9  {width: 75%}
div.col-8  {width: 66.6666666%}
div.col-7  {width: 58.3333333%}
div.col-6  {width: 50%}
div.col-5  {width: 41.6666666%}
div.col-4  {width: 33.3333333%}
div.col-3  {width: 25%}
div.col-2  {width: 16.6666667%}
div.col-1  {width:  8.3333333%}

